{% set class = "list-of-jobs" %}
{% extends "partials/section.njk" %}

{% block content %}
{% for job in section.body %}
	<div>
		<h3>{{ job.company }}</h3>
		<p>{{ job.title }}</p>
		<p>{{ job.start }} - {{ job.end }}</p>
		<p>{{ job.description }}</p>
	</div>
{% endfor %}
{% endblock %}