{% if getType(val) === 'object' %}
	{% for key, val in val %}

		<label for="{{ key }}">{{ key }}</label>
		{% if key == 'description' %}
		<textarea name="{{ key }}" rows="5">{{ val }}</textarea>
		{% else %}
		<input type="text" name="{{ key }}" value="{{ val }}">
		{% endif %}
	
	{% endfor %}
{% elseif getType(val) === 'array' %}
	{% for val in val %}

		<label for="{{ loop.index0 }}">{{ loop.index0 }}</label>
		<input type="text" name="{{ loop.index0 }}" value="{{ val }}">
	
	{% endfor %}
{% else %}
	
{% endif %}