{% if key in template %}
	<label for="{{ key }}">{{ key }}</label>
{% endif %}

{% if template[key] == 'paragraph' %}
	<textarea name="{{ key }}" rows="10">{{ data[key] }}</textarea>
{% elseif template[key] == 'array-of-strings' %}
	<textarea name="{{ key }}" rows="10">{{ data[key] }}</textarea>
{% elseif template[key] == 'date' %}
	<input type="date" name="{{ key }}" value="{{ data[key] }}">
{% elseif template[key] == 'month-year' %}
	<input type="month" name="{{ key }}" value="{{ data[key] }}">
{% elseif template[key] == 'url' %}
	<input type="url" name="{{ key }}" value="{{ data[key] }}">
{% elseif template[key] == 'string' %}
	<input type="text" name="{{ key }}" value="{{ data[key] }}">
{% endif %}