$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$base: #22531F;
$dark: #252525;
$gray: #454545;
$lighter: #0B6C06;
$bright: #08A700;
$text-color: white;

$top-height: 50px;
$border-width: 4px;

$sidebar-width: 10%;

$margin-header: 30px;
$margin-block: 20px;
$margin-content: 10px;

// ====================================================
// CSS for default elements ===========================
// ====================================================

a {
	color: $text-color;
	text-decoration: none;
}

body {
	background-color: $dark;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.7em;
	margin: 0;
	display: flex;
}

h1, h2, h3 {
	margin: 0;
}

hr {
	width: 90%;
}

html {
	font-size: 16px;
}

img {
	width: 100%;
	height: auto;
}

p {
	margin: 0;
}

p, li {
	font-size: .85em;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

// ====================================================
// CSS for mixins to build classes ====================
// ====================================================

@mixin flex-col($num-col) {
	.body {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;

		& > div {
			align-items: flex-start;
			flex: 0 1 (100% / $num-col);
		}

		@content;
	}
}

// ====================================================
// CSS for reusable classes ===========================
// ====================================================

.section {
	min-height: calc(100vh - 100px);
	padding: 25px;

	h2 {
		text-align: center;
		margin-bottom: $margin-header;
	}
}

.title-text {
	background-color: $dark;

	.body {
		p {
			margin-bottom: $margin-block;
		}
	}
}

.title-two-col-img-lists {
	background-color: $gray;

	@include flex-col(2) {
		& > div {
			display: flex;
		}

		& > div:nth-of-type(1) {
			align-content: center;
		}

		& > div:nth-of-type(2) {
			flex-wrap: wrap;
			justify-content: space-around;

			div {
				flex: 0 1 40%;
			}

			div:nth-of-type(odd) {
				text-align: right;
			}
		}

		img {
			width: 60%;
			margin: auto;
		}
	}
}

.list-of-jobs {
	background-color: $dark;

	.body {
		& > div {
			border: 4px solid $gray;
			margin-bottom: $margin-block;
			padding: 10px;

			h3 {
				margin-bottom: $margin-content;
			}
			p:nth-of-type(1) {
				font-weight: bold;
				font-size: .9em;
			}
			p:nth-of-type(2) {
				font-size: .65em;
			}
			p {
				margin-bottom: $margin-content;
			}
		}
	}
}

.list-of-projects {
	background-color: $base;

	.body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		& > div {
			border: 4px solid $lighter;
			margin-bottom: $margin-block;
			padding: 10px;
			max-width: calc((100% / 2) - #{ $margin-block / 2 });

			align-items: flex-start;
			flex: 0 1 (100% / 2);
			box-sizing: border-box;

			h3 {
				margin-bottom: $margin-content;
				text-align: center;
			}
			a > div {
				width: 100%;
				padding-bottom: calc(100% * 9 / 16);
			}
			p:nth-of-type(2) {
				font-size: .65em;
			}
			p {
				margin-bottom: $margin-content;
			}
		}

		& > div:nth-of-type(odd) {
			margin-right: $margin-block / 2;
		}

		& > div:nth-of-type(even) {
			margin-left: $margin-block / 2;
		}
	}
}

.closing {
	background-color: $dark;

	.body {

	}
}

// ====================================================
// CSS for top and navigation for the page ============
// ====================================================

#top {
	background-color: $dark;
	border-bottom: $border-width solid $lighter;
	display: flex;
	// font-size: 2.3em;
	font-size: 50px;
	height: $top-height;
	position: fixed;
	width: 100%;
	z-index: 10;

	a {
		align-self: center;
		padding-left: 10px;
	}
}

#sidebar {
	background-color: $gray;
	border-right: $border-width solid $lighter;
	flex: 0 0 $sidebar-width;
	padding-top: $top-height + $border-width;
	z-index: 9;

	a {
		display: block;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 10px;
	}

	a:hover {
		background-color: white;
		color: $dark;
	}

	nav {
		position: fixed;
		width: $sidebar-width;
	}
}

#main {
	flex: 1;
	padding-top: $top-height;
}

// ====================================================
// CSS for Each Section ===============================
// ====================================================

#body-title {
	background-color: $base;
	padding: 0;
	position: relative;

	#bg-img {
		background-image: url('../img/dunes-lg.jpg');
		background-position: center;
		background-size: cover;
		height: calc(100vh - 50px);
		opacity: 0.5;
		width: 100%;
	}

	h1 {
		bottom: 50vh;
		// font-size: 4em;
		font-size: 5rem;
		left: 60px;
		position: absolute;
	}
}

.list-of-jobs {
	background-color: $dark;

	.body {
		& > div {
			border: 4px solid $gray;
			margin-bottom: $margin-block;
			padding: 10px;

			h3 {
				margin-bottom: $margin-content;
			}
			p:nth-of-type(1) {
				font-weight: bold;
				font-size: .9em;
			}
			p:nth-of-type(2) {
				font-size: .65em;
			}
			p {
				margin-bottom: $margin-content;
			}
		}
	}
}