{% extends "partials/section/section.njk" %}

{% block content %}
<div><img src="{{ section['img-src'] }}" alt="{{ section['img-alt'] }}"></div>
<div>
	<div>
		<ul>
			<li>Date of Birth:</li>
			<li>Education:</li>
			<li>Degree:</li>
		</ul>
	</div>
	<div>
		<ul>
			<li>{{ dateFull(section.dob) }}</li>
			<li>{{ section.school }}</li>
			<li>{{ section.degree }}</li>
		</ul>
	</div>
	<hr>
	<div>
		<p>Skills:</p>
		<ul>
			{% for skill in section.skills %}
			<li>{{ skill }}</li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<p>Languages:</p>
		<ul>
			{% for language in section.languages %}
			<li>{{ language }}</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}