<div class="section {{ section.template }}">
	<span id="{{ section.template + sectionIndex }}" tabindex="-1"></span>
	<h2>
		{{ section.title }}
	</h2>
	<div class="body">

		{% block content %}
		{% endblock %}

	</div>
</div>