@import 'base';

body {
	display: block;
	margin: 50px;
}

h1 {
	margin-bottom: $margin-block;
}

div.body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	max-width: 1000px;

	& > label, & > input, & > textarea {
		display: inline-block;
		margin: 10px 0 10px 0;
	}

	& > label {
		flex: 0 1 20%;
	}
	
	& > input, & > textarea {
		flex: 0 1 75%;
	}
}

div.body.full {
	display: block;
	max-width: none;
	width: 100%;

	textarea {
		height: 80vh;
		width: 100%;
		white-space: pre;
	}
}