<!DOCTYPE html>
<html>

{% include "partials/head/edit-head.njk" %}

<body>
	
	<h1>{{ index }}: {{ templateName }} {% if id %}: {% endif %} {{ id }}</h1>

	<form action="/edit/{{ sectionName }}/{{ index }}/{{ id }}" method="POST">
	
		<div class="body">
			{% for key, val in template %}
				{% include "partials/element/form-input.njk" %}
			{% endfor %}
		</div>
		
		<button type="submit">Submit</button>
		<a href="/" class="button cancel"><button type="button">Cancel</button></a>
	</form>

</body>

</html>