<!DOCTYPE html>
<html>

{% include "partials/head.html" %}

<body>
	<div id="top">
		<a href="#">{{ data.top }}</a>
	</div>

	<div  id="sidebar">
		<nav>
			<ul>
				{% for link in data.sidebar %}
				<li><a href="#{{ link.id }}">{{ link.text }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>

	<div id="main">
		<div id="body-title" class="section">
			<div id="bg-img"></div>
			<h1>{{ data.title }}</h1>
		</div>

		{% set section = data.section.aboutSite %}
		{% include "partials/about-site.njk" %}
		
		{% set section = data.section.aboutMe %}
		{% include "partials/about-me.njk" %}

		{% set section = data.section.jobs %}
		{% include "partials/jobs.njk" %}

		{% set section = data.section.projects %}
		{% include "partials/projects.njk" %}

		{% set section = data.section.connect %}
		{% include "partials/connect.njk" %}

	</div>

</body>

</html>