<!DOCTYPE html>
<html>

{% include "head.html" %}

<body>
    <nav>
        <div class="hidden-md-up float-xs-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sideNavbar" aria-controls="sideNavbar"
                aria-expanded="false" aria-label="Toggle navigation">&#9776</button>
        </div>
        <div class="header">
            <a href="#top">TB</a>
        </div>
        <div class="header admin admin-hide logout">
            <a>Log Out</a>
        </div>
    </nav>

        <div class="row">

            <!-- Sidebar nav -->
            <div class="col-md-2 col-lg-1 px-0 sidebar-column">
                <nav class="collapse navbar-toggleable-sm sidebar" id="sideNavbar" role="navigation">
                    <ul class="nav col-xs-12 sidebar-ul px-0">
                        <li class="nav-item"><a class="nav-link" href="#aboutSite">Intro</a></li>
                        <li class="nav-item"><a class="nav-link" href="#aboutMe">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#projects">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="#connect">Connect</a></li>
                    </ul>
                </nav>
            </div>

            <!-- Main Content -->
            <div class="col-xs-12 col-md-10 col-lg-11 px-0 main-content">
                <div id="top" class="transparent section px-0 py-0">
                    <div id="backgroundImg" class="section">
                        <p class="pName">Tyler Bauer</p>
                    </div>
                </div>
                <div id="aboutSite" class="section">
                    <a class="admin admin-hide" href="edit/edit-profile">Edit Intro</a>
                    <h1>What is this place?</h1>
                    <div class="row mt-1">
                        <div class="col-xs-12">
                            <div>
                                <p class="pre-wrap" id="info-description"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="aboutMe" class="section">
                    <a class="admin admin-hide" href="edit/edit-profile/">Edit Profile</a>
                    <h1>About Me</h1>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <img id="info-profile" class="profile mx-auto d-block" src="" alt="profile">
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="margin-right-100">
                                <div class="row">
                                    <div class="col-xs-6">Date of Birth:</div>
                                    <div class="col-xs-6" id="info-dob"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">Education:</div>
                                    <div class="col-xs-6" id="info-school"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">Degree:</div>
                                    <div class="col-xs-6" id="info-degree"></div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6">
                                        <p>Skills:</p>
                                        <ul class="pl-1" id="info-skills">

                                        </ul>
                                    </div>
                                    <div class="col-xs-6 col-sm-6">
                                        <p>Languages:</p>
                                        <ul class="pl-1" id="info-languages">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1" id="work">
                        <a class="admin admin-hide" href="edit/edit-work/">Add Work</a>
                        <h2>Previous Work</h2>
                        <div id="work-list">

                        </div>
                    </div>
                </div>
                <div id="projects" class="section">
                    <a class="admin admin-hide" href="edit/edit-project/">Add Project</a>
                    <h1>My Projects</h1>
                    <div>
                        <div id="projects-list" class="row">

                        </div>
                    </div>
                </div>
                <div id="connect" class="section">
                    <h1>Connect With Me</h1>
                    <div class="text-xs-center">
                        <p class="connections">
                            <a href="https://www.linkedin.com/in/tbauer516" target="_blank"><i class="icon ion-social-linkedin-outline align-middle"></i> <span class="align-middle"> LinkedIn Profile</span></a>
                            <a class="margin-left" id="my-email" href="" data-toggle="tooltip" data-placement="top" data-trigger="click" title="My email is copied to your clipboard!"><i class="icon ion-email align-middle"></i><span class="align-middle"> Email Me</span></a>
                        </p>
                    </div>
                    <div class="text-xs-center">
                        <p>
                            Thank you for visiting my humble website. I hope you enjoyed your time here. Please feel free to connect with me by visiting
                            my LinkedIn profile and inviting me to connect. If you would like to communicate with me immediately,
                            feel free to send me an email. If you really liked me, feel free to do both.
                        </p>
                    </div>
                </div>

            </div>
            <!-- Closing Tag For Main Content -->
        </div>
    </div>


    <!-- Login modal -->
    <div id="login" class="modal fade">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    <h4 class="modal-title">Please Login:</h4>
                </div>
                <div class="modal-body">
                    <form name="login" id="login-form" autocomplete="off" onsubmit="event.preventDefault(); tryLogin();">
                        <input class="form-control" name="email" id="email" placeholder="Username...">
                        <br>
                        <input class="form-control" name="password" id="password" type="password" placeholder="Password...">
                        <br>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-primary" placeholder="Login">
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


</body>

</html>